.footer{
  /* margin-left : 80px; */
  position: absolute;
  bottom: 10px;
  text-align: center;
  margin-left: 42%;
  font-size : 18px;
}

.main-div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
  margin: auto;
}

.hero-div, .villain-div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  text-align: center;
  row-gap: 10px;
}

.hero, .villain{
  border: 2px solid grey;
  border-radius: 10px;
}

.score-div{
  text-align: center;
  font-size: 3em;
}

.power{
  font-size: 2em;
}